@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .no-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }